header {
   	background-color: black;
} 

header img {
	width: 20px;
   	height: 30px;
	padding: 5px;
}

header table {
	color: white;
	text-decoration: none;
}

main {
	background-color: white;
} 

main h1 {
	text-align: center;
	font-size: 60px;
	color: black;
} 

.b {
	height: 70px;
	width: 50px;
}

footer {
	background-color: black;
}

footer a {
	color: white;
	text-decoration: none;
	padding: 0px 0px 0px 10px;
}
	
